
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.mainApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(187, 187, 187, 0.467);
    width: auto;
    padding: 10px;
    border: 10px;
    margin: 5px;
    border-color: black;
}

.screen {
    width: auto;
    height: auto;
    width: 40vw;
    border: 10px;
    background-color: rgb(113, 170, 118);
    padding: 10px;
    border: 10px;
    margin: 5px;
}

#history {
    width: auto;
    height: 30px;
    text-align: right;
}

#workingScreen {
    width: auto;
    height: 70px;
    text-align: right;
}

.keypad {
    background-color: rgb(112, 112, 112);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    padding: 10px;
    border: 10px;
    margin: 5px;
}

.rows {
    display: flex;
    justify-content: center;
    align-content: center;
    width: ;
    padding: ;
    border: ;
    margin: 5px;
}

#row1 {
    display: flex;
}

.button {
    background-color: rgb(170, 170, 170);
    color: rgb(255, 255, 255);
    width: 50px;
    height: 35px;
    padding: ;
    border: ;
    margin: 3px;
}

#prevAns {

}

#delete {
    
}

#clear {
    background-color: rgb(46, 43, 255);
}

#allClear {
    background-color: rgb(255, 72, 0);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 10px;
}