@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans', sans-serif;
}

.mainApp {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: rgba(187, 187, 187, 0.467);
    width: auto;
    padding: 8px;
    border-radius: 5px;
    border: 4px solid black;
}

.screen {
    width: auto;
    height: auto;
    width: auto;
    background-color: rgb(113, 170, 118);
    padding: 5px;
    border: 4px solid black;
    margin: 5px;
    border-radius: 5px;
}

#history {
    width: auto;
    height: 30px;
    text-align: right;
}

#workingScreen {
    width: auto;
    height: 30px;
    text-align: right;
}

.keypad {
    background-color: rgb(112, 112, 112);
    display: grid;
    grid-template-columns: 66px 66px 66px 66px;
    grid-template-rows: 44px 44px 44px 44px 44px;
    column-gap: 5px;
    row-gap: 5px;
    padding: 10px;
    border: 4px solid black;
    margin: 5px;
    border-radius: 5px;
 }

button {
    background-color: rgb(220, 220, 220);
    color: rgb(0, 0, 0);
    border-radius: 4px;
}

#prevAns {
    background-color: rgb(177, 43, 255);
}

#delete {
    background-color: rgb(255, 160, 43);
}

#clear {
    background-color: rgb(46, 43, 255);
}

#allClear {
    background-color: rgb(255, 72, 0);
}

.operator {
    background-color: rgb(149, 155, 198);
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin-top: 10px;
}